.banner {
  position: relative;
}

.banner p {
    position: absolute;
    bottom: -0.5rem;
    left: 2.4rem; 
    font-size: 3.2rem;
    font-weight: bold;;
    color: #3B3633;
    z-index: 10;
}

@media (min-width: 768px) {
  .banner p {
    bottom: -1.3rem;
    left: 4rem; 
    font-size: 6.4rem;
  }
}

@media (min-width: 1024px) {
  .banner p {
    bottom: -1.3rem;
    left: 16.9rem; 
    font-size: 6.4rem;
  }
}

@media (min-width: 1440px) {
  .banner p {
    bottom: -2.5rem;
    left: 10.5rem; 
    font-size: 12rem;
  }
}
