footer {
  padding: 6rem 0;
}

footer > p:first-child {
  font-size: 8rem;
  font-weight: 500;
  background: linear-gradient(68deg, rgba(250, 250, 250, 1) 0%, rgba(250, 250, 250, 0) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  margin-bottom: 10rem;
}

footer .links {
  margin: 0 2.4rem;
  padding: 4rem 0;
  display: flex;
  flex-direction: column;
  gap: 8rem;
  border-top: 0.1rem solid var(--text-color);
  border-bottom: 0.1rem solid var(--text-color);
}

footer .links ul {
  display: flex;
  flex-direction: column;
}

footer .links a {
  font-size: 3.2rem;
  font-weight: 300;
  color: var(--text-color);
  text-decoration: none;
  cursor: pointer;
}

footer .links ul:first-child li:first-child a {
  font-weight: bold;
}

footer .copyright {
  margin: 0 2.4rem;
  padding-top: 4rem;
  align-items: center;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
}

footer .copyright p, 
footer .copyright a {
  font-size: 1.6rem;
  font-weight: 400;
  color: var(--text-color);
  text-decoration: none;
  cursor: pointer;
}

footer .copyright a:hover,
footer .links a:hover {
  font-weight: bold;
  color: var(--highlight-color);
}

footer .copyright ul {
  display: flex;
  flex-direction: column;
}

@media (min-width: 768px) {
  footer > p:first-child {
    font-size: 16.8rem;
  }
  
  footer .links,
  footer .copyright {
    margin: 0 4rem;
  }
  
  footer .links {
    flex-direction: row;
    justify-content: space-between;
  }
  
  footer .copyright ul {
    flex-direction: row;
    gap: 1rem;
  }
  
  footer .copyright p {
    text-align: start;
    width: 100%;
  }
  
  footer .copyright {
    text-align: start;
    align-items: start;
  }
}

@media (min-width: 1024px) {
  footer > p:first-child {
    font-size: 21.9rem;
  }

  footer .links,
  footer .copyright {
    margin: 0 16.8rem;
  }
}

@media (min-width: 1440px) {
  footer > p:first-child {
    font-size: 30.5rem;
  }
  
  footer .links,
  footer .copyright {
    margin: 0 11.2rem;
  }
}


@media (min-width: 1920px) {
  footer .links,
  footer .copyright  {
    margin: 0 24rem;
  }

  footer > p:first-child {
    font-size: 32rem;
    text-align: center;

    .remove-br {
      display: none;
    }
  }
}