* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --background-color: #DAD9D5;
  --text-color: #3B3633;
  --highlight-color: #BB2215;
  font-size: 62.5%;
}

body { 
  background-color: var(--background-color);
  font-size: 1rem;
  color: var(--text-color);
  font-weight: 400;
  font-family: "Inter", sans-serif;
}

ul, li {
  list-style: none;
}

img {
  width: 100%;
  height: auto;
}